# Updated for v0.44.9

#--------------------#
# Rule Configuration #
#--------------------#

# sets the header block to supplied text
--header "Copyright © {year} Brian Drelling. All rights reserved."

# makes sure the self. prefix is added where appropriate
--self insert

# only strips unused arguments (replacing with _) in closures, not methods
--stripunusedargs closure-only

# DO NOT wrap function or type @attributes onto a separate line
--funcattributes prev-line
--typeattributes prev-line

# DO include var @attributes in the same line
--varattributes same-line

# this removes the underscore (_) separation in large numbers
--binarygrouping none
--decimalgrouping none
--hexgrouping none
--octalgrouping none
--exponentgrouping disabled
--fractiongrouping disabled

#----------------#
# Disabled Rules #
#----------------#

# Wrap the opening brace of multiline statements.
# Disabled because this rule is non-configurable.
--disable wrapMultilineStatementBraces

#-----------------#
# File Exclusions #
#-----------------#

--exclude .build
--exclude .swiftpm
--exclude Package.swift
--exclude */Package.swift
--exclude "**/*/*+CoreDataProperties.swift"
